.navegacion {
  background-color: var(--nav-bg);
  padding: 1rem;
}

.navegacion ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.navegacion a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navegacion a.active {
  background-color: #3b82f6;
}

.btn-tema {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn-tema:hover {
  background: white;
  color: black;
}

.contenido {
  padding: 2rem;
  min-height: 80vh;
}
